

</body>

<footer>
  <p style = "font-size: 13px; padding-bottom: 5px">Made with ❤️ by Bharti Patel</p>
  <p style = "font-size: 13px; padding-top: 5px">Instructor: Angela Yu | London App Brewery</p>
</footer>

</html>
